<header>
        <button (click)="navigateToHome()">
        <img src="/assets/logo.png" >
        <h1>PhyoTP</h1>
    </button>
    <nav>
        <a href="https://github.com/phyotp" id="github">
            <img src="https://raw.githubusercontent.com/Ender-Wiggin2019/ServiceLogos/main/GitHub/GitHub.png" alt="GitHub">
        </a>
        <a href="https://youtube.com/@theaveragepi" id="youtube">
            <img src="/assets/youtube.png" alt="YouTube">
        </a>
    </nav>
    <div style="flex-grow: 1;"></div>
    
</header>
