/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'AvenirMedium';
    src: url('/assets/AvenirMedium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirDemi';
    src: url('/assets/AvenirNextRoundedStd-Demi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirBold';
    src: url('/assets/AvenirNextRoundedStd-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
a, h1, h2, .lighted{
    color: #ff8c00;
}
p, a , img, h3{
    font-family: "AvenirMedium";
}
h2{
    font-family:"AvenirDemi";
}
h1{
    font-family: "AvenirBold";
}
body{
    background-color: #332F2B;
}
p, img, h3{
    color:white;
}
