.academText{
    font-family: Avenir Next Rounded, Avenir Next, Avenir;
    color:#ffdbe3;
    padding: 1cm 1cm 1cm 1cm;
    background-color:#c9343c;
    
    
}
main{
    border-radius:1cm; 
    margin-left: 1cm;
    margin-right: 1cm;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin: 0;
}
