.academText{
    font-family: Avenir Next Rounded, Avenir Next, Avenir;
    color:#ffdbe3;
    padding: 1cm 1cm 1cm 1cm;
    background-color:#c9343c;
    
    
}
.academBody{
    border-radius:1cm; 
    margin-left: 1cm;
    margin-right: 1cm;
}

