@font-face {
    font-family: 'Avenir';
    src: url('/Avenir.woff2') format('woff2');
    /* Add additional font formats if necessary for better browser compatibility */
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Avenir Next Rounded, Avenir Next, Avenir;
}
body{
    background-color: #cf5b2e;
}
main{
    background-color: #cf5e2e;
}
footer{
    border-top: 0.1cm;
}
header{
    border-bottom: 0.1cm;
}
footer, header{
    border-color: #ffffff;
}