@font-face {
    font-family: 'Avenir';
    src: url('/Avenir.woff2') format('woff2');
    /* Add additional font formats if necessary for better browser compatibility */
    font-weight: normal;
    font-style: normal;
}
html,a {
    font-family: Inter, 'Avenir';
    color: #FFBB67;
}
body{
    background-color: #332F2B;
}

section, header{
    background-color: #554839;
    padding: 16px;
    padding-top: 8px;
}
header {
    margin: -8px;
    padding-bottom: 8px;
    padding-top: 12px;
    position: sticky;
    top:0px;
    z-index:1;
}
#topimage{
    background-image: url(/The\ Average\ Pi.png);
    background-size: cover;
    background-position:center;
    height:100vh;
    align-items:center;
    display:flex;
    justify-content:center;
    font-size:large;
    margin: -8px;
}
#sections {
    position: relative;
    top: 32px;
}
main{
    position:relative;
    bottom:8px;
}
section{
    border-radius: 32px;
}

.oddSection{
    min-height: 436px;
    min-width: 400px;
    margin:0px 10vw 20px 5vw;
}
.oddSection img{
    padding-top:20px;
    max-width: 400px;
}
#intro img{
    animation: appear 1s;
}

@keyframes appear {
    from{opacity: 0;position: relative;left: 1000px;}
    to{opacity: 1;position:relative;left:0px}
}
header img{
    height:56px;
    margin:-8px 4px -14px -12px;
    border-radius:28px;
}
header nav{
    display:inline;
    position:relative;
    bottom:10px;
    left:50px
}
header *{
    display:inline;
}
header h1{
    position:relative;
    bottom:4px;
}
header a{
    text-decoration:none;
    padding:4px;
    transition: background-color 1s;
    border-radius:4px;
}
header a:hover{
    text-transform:uppercase;
    background-color:#FF5E0E;
}

.evenSection{
    min-height: 436px;
    min-width: 400px;
    margin:0px 5vw 20px 10vw;
}
.evenSection img{
    padding-top:20px;
    max-width: 400px;
}

.left{
    float:left;
    max-width: 29vw;
}
.right{
    float:right;
}
.lighted, h1, h2{
    color: #FF8C00;
}
