@font-face {
    font-family: 'Avenir';
    src: url('/Avenir.woff2') format('woff2');
    /* Add additional font formats if necessary for better browser compatibility */
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Avenir Next Rounded, Avenir Next, Avenir, 'Avenir';
}
body{
    background-color: #cf5b2e;
}
main{
    background-color: #cf5e2e;
}
footer{
    border-top: 0.1cm;
}
header{
    border-bottom: 0.1cm;
    background-image: url(https://cdn.discordapp.com/attachments/930849166907809843/1187774165453914112/websitebanner.png?ex=65981be4&is=6585a6e4&hm=3e46d397733c1921a4b206972cc10fb82ded29e71b5e4069fbdfaf167dd4acd3&);
    background-size: cover;
    background-position:center;
    height:512px;
    align-items:center;
    display:flex;
    justify-content:center;
    font-size:large;
}
footer, header{
    border-color: #ffffff;
}