#intro h1{
  font-family: "Space Mono";
  color: white;
}
#intro {
  display: flex; 
  align-items: flex-start; 
}
#intro img {
  margin: 5vmin 10vmin 0vmin 5vmin; 
  height:50vmin;
  border-radius: 100%;
  transition:height 1s;
}
#intro img:hover {
  height:60vmin;
}

