#intro {
  display: flex;
  width: 90vw;
  height: 90vh;
  font-size: large;
  justify-content: center;
}

.left, .right {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#intro h1 {
  font-family: "Space Mono";
  color: white;
  padding-right: 10%;
}

#intro img {
  width: 80%; 
}
@media (max-width: 450px){
  #intro {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
  }
  main{
    position: relative;
    top: 10vmin;
  }
}
button{
  background: none;
  border: none;
  /*cursor: pointer;
}
button img{
  transition: all 0.3s ease-in-out;
}
button img:hover{
    height:11vmin;
    filter: drop-shadow(0 0 10px white);
*/
}