header{
    background-color: black;
    padding: 16px;
    padding-top: 8px;
}
header {
    margin: -8px;
    padding-bottom: 8px;
    padding-top: 12px;
    position: sticky;
    top:0px;
    z-index:1;
}
img{
    height:48px;
    margin:0px 10px -5px 0px;
    border-radius:28px;
}
nav{
    display:inline;
    position:relative;
    bottom:10px;
    left:50px
}
header *{
    display:inline;
}
h1{
    position:relative;
    bottom:8px;
}
a{
    text-decoration:none;
    padding:4px;
    transition: background-color 1s;
    border-radius:4px;
}
a:hover{
    text-transform:uppercase;
    background-color:#FF5E0E;
}
button{
    border:none;
    background: none;
}
