<header>
    <button routerLink="./home">
        <img src="/assets/logo.png" >
        <h1>PhyoTP</h1>
    </button>
    <nav>
        <a href="https://github.com/phyotp" id="github">
            <img src="https://vtuber-style-logos.vercel.app/_next/image?url=https%3A%2F%2Fraw.githubusercontent.com%2FEnder-Wiggin2019%2FServiceLogos%2Fmain%2FGitHub%2FGitHub.png&w=384&q=75">
        </a>
        <a href="https://youtube.com/@theaveragepi" id="youtube">
            <img src="/assets/youtube.png" alt="YouTube">
        </a>
    </nav>
    <div style="flex-grow: 1;"></div>
    
</header>
