<section id="start">
  <img src="https://developer.apple.com/assets/elements/icons/swift/swift-96x96_2x.png">
</section>
<section id="start2">
  <h1>Swift</h1>
  <h3>Swift is a general-purpose, multi-paradigm, compiled programming language developed by Apple.</h3>
</section>
<h2>Technologies</h2>
<section id="technologies">
  <div id="xcode">
    <div class="image-container">
      <img src="https://developer.apple.com/news/images/og/xcode-12-og.jpg">
    </div>
    <h3>Xcode</h3>
  </div>
  <div id="swiftui">
    <div class="image-container">
      <img src="https://developer.apple.com/assets/elements/icons/swiftui/swiftui-96x96_2x.png">
    </div>
    <h3>SwiftUI</h3>
  </div>
</section>
