<section id="start">
  <img src="https://developer.apple.com/assets/elements/icons/swift/swift-96x96_2x.png">
</section>
<section id="start2">
  <h1>Swift</h1>
  <h3>Swift is a general-purpose, multi-paradigm, compiled programming language developed by Apple.</h3>
</section>
<h2>Technologies</h2>
<section id="technologies" class="sections">
  <div id="xcode" class="box">
    <div class="image-container">
      <img src="https://developer.apple.com/news/images/og/xcode-12-og.jpg">
    </div>
    <h3>Xcode</h3>
  </div>
  <div id="swiftui" class="box">
    <div class="image-container">
      <img src="https://developer.apple.com/assets/elements/icons/swiftui/swiftui-96x96_2x.png">
    </div>
    <h3>SwiftUI</h3>
  </div>
</section>
<h2>Projects</h2>
<section id="projects" class="sections">
  <div id="academ" class="box">
    <div class="image-container">
      <img src="/assets/academ.png">
    </div>
    <h3>Academ</h3>
  </div>
</section>
<h2>Certificates</h2>
<section id="certificates" class="sections">
  <div id="sap" class="box">
    <div class="image-container">
      <img src="/assets/sapCertIRL.png">
    </div>
    <h3>Swift Accelerator Programme Class of 2023</h3>
  </div>
  <div id="associate" class="box">
    <div class="image-container">
      <img src="https://images.credly.com/size/400x400/images/d9598c1a-2f59-49b9-b7fc-a764bf23b4d5/image.png">
    </div>
    <h3>App Development with Swift: Associate</h3>
  </div>
</section>