<div id="home">
    <section id="intro">
        <div class="left">
            <img src="/assets/logo.png" alt="Logo">
        </div>
        <div class="right">
            <h1>PhyoTP</h1>
            <p>A student developer from Singapore</p>
        </div>
    </section>
    <main>
        <section id="langs">
            <h2>Coding Languages</h2>
            @for (lang of langs; track $index){
                <a [href]="[lang.route]" [id]="[lang.id]" class="lang">
                    <img src="{{lang.src}}" alt="{{lang.name}}">
                    <h3>{{lang.name}}</h3>
                </a>
            }
        </section>
        <section id="technologies">
            <h2>Technologies</h2>
            @for (tech of techs; track $index){
                <a [href]="[tech.route]" [id]="[tech.id]" class="tech">
                    <img src="{{tech.src}}" alt="{{tech.name}}">
                    <h3>{{tech.name}}</h3>
                </a>
            }
        </section>
        <section id="projects">
            <h2>Projects</h2>
            @for (project of myprojects; track $index) {
                <a href="[project.route]" [id]="[project.id]" class="project">
                    <img src="{{project.src}}" title="{{project.name}}">
                    <h3>{{project.name}}</h3>
                </a>
            }
        </section>
    </main>
</div>