#intro {
  display: flex;
  width: 90vw;
  height: 60vh;
  font-size: large;
  justify-content: center;
}

.left, .right {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#intro h1 {
  font-family: "Space Mono";
  color: white;
  padding-right: 10%;
}

#intro img {
  width: 80%; 
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}
#intro img:hover{
  transform: rotate3d(-1, 1, 0, 35deg) translate3d(20px,20px,100px);
  transform-style: preserve-3d;
  outline: 5px solid white;
}

#home{
  position: relative;
  top: 20vmax;
}
main{
  position: relative;
  top: 30vmax;
}
@media (max-width: 450px){
  #intro {
    flex-direction: column;
    text-align: center;
  }
  .left, .right {
    width: 100%;
    display: block;
  }
  #JS{
    position: default;
  }
  #home{
    padding-top:100px;
  }
  main{
    padding-top: 50px;
  }
}
a{
  text-decoration: none;
  position: relative;
  top:5vmin;
  width: 300px;
  height: 300px;
  background-color: black;
  margin:10px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
a:hover{
  filter: drop-shadow(0 0 10px white);
  transform: scale(1.1);
}
main section{
  display: flex;
  flex-wrap: wrap;
}
a h3{
  text-align: center;
  display: block;
  
}
.image-container {
  width: 300px; 
  height: 200px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 80%;
  max-height: 100%;
  object-fit: contain; 
}
h2{
  display: block;
  width:100vw;
  position: relative;
  top:5vmin;
}