<div id="home">
    <section id="intro">
        <div class="left">
            <div class="book2">
                <img src="/assets/myirlphoto.jpg" />
                <div class="cover2">
                  <img src="/assets/logo.png" />
                </div>
            </div>
        </div>
        <div class="right">
            <h1>PhyoTP</h1>
            <p>A student developer from Singapore</p>
        </div>
    </section>
    <main>
        <section id="langs">
            <h2>Coding Languages</h2>
            @for (lang of langs; track $index){
                <a [href]="[lang.route]" [id]="[lang.id]" class="lang">
                    <div class="image-container">
                        <img src="{{lang.src}}" alt="{{lang.name}}">
                    </div>
                    <h3>{{lang.name}}</h3>
                </a>
            }
        </section>
        <section id="technologies">
            <h2>Technologies</h2>
            @for (tech of techs; track $index){
                <a [href]="[tech.route]" [id]="[tech.id]" class="tech">
                    <div class="image-container">
                        <img src="{{tech.src}}" alt="{{tech.name}}">
                    </div>
                    <h3>{{tech.name}}</h3>
                </a>
            }
        </section>
        <section id="projects">
            <h2>Projects</h2>
            @for (project of myprojects; track $index) {
                <a [href]="[project.route]" [id]="[project.id]" class="project">
                    <div class="image-container">
                        <img src="{{project.src}}" title="{{project.name}}">
                    </div>
                    <h3>{{project.name}}</h3>
                </a>
            }
        </section>
        <section id="certs">
            <h2>Certificates</h2>
            @for (cert of certs; track $index) {
                @if (cert.second=="nope"){
                    <a [href]="[cert.route]" [id]="[cert.id]" class="cert">
                        <div class="image-container">
                            <img src="{{cert.src}}" title="{{cert.name}}">
                        </div>
                        <h3>{{cert.name}}</h3>
                    </a>
                } @else {
                    <a [href]="[cert.route]" [id]="[cert.id]" class="cert2">
                        <div class="book">
                            <img src="{{cert.second}}" class="yes">
                            <div class="cover">
                              <img src="{{cert.src}}" class="yes">
                            </div>
                        </div>
                        <h3>{{cert.name}}</h3>
                    </a>
                }
            }
        </section>
    </main>
</div>