#intro {
  display: flex;
  width: 90vw;
  height: 60vh;
  font-size: large;
  justify-content: center;
}

.left, .right {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#intro h1 {
  font-family: "Space Mono";
  color: white;
  padding-right: 10%;
}

#intro img {
  width: 80%; 
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}
#intro img:hover{
  transform: rotate3d(-1, 1, 0, 35deg) translate3d(20px,20px,100px);
  transform-style: preserve-3d;
  outline: 5px solid white;
}

#home{
  position: relative;
  top: 20vmin;
}
main{
  position: relative;
  top: 10vmin;
}
@media (max-width: 450px){
  #intro {
    flex-direction: column;
    text-align: center;
  }
  .left, .right {
    width: 100%;
    display: block;
  }
  #JS{
    position: default;
  }
  a img{
    width:80vw;
    transition: all 0.3s ease-in-out;
  }
  a img:hover{
    filter: drop-shadow(0 0 10px white);
    width: 90vw;
  }
  #home{
    padding-top:100px;
  }
  main{
    padding-top: 50px;
  }
}
a{
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top:5vmin;
  width: 300px;
  height: 200px;
  background-color: black;
  margin:10px;
  align-items: center;
}
a img{
  transition: all 0.3s ease-in-out;
  width:110%;
}
a img:hover{
    filter: drop-shadow(0 0 10px white);
}
main section{
  display: flex;
  flex-wrap: wrap;
}
a h3{
  text-align: center;
}
